<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/styles/create.css">
    <title>Create</title>
</head>
<body>
    <div id="body">
        <h1>Create Recipe</h1>
        <h4>Name of the Recipe</h4>
        <input id = "name">
        
        <h4>Ingredients</h4>
        <input id = "ingredients">

        <h4>Instructions</h4>
        <textarea>text</textarea>

        <button id = "btn" type = "button" >Submit</button>

        <img src="https://www.dropbox.com" alt="Description of my image" width="500">

        
    </div>
    <script src = "../static/create.js"></script>
</body>
</html>