<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/styles/create.css">
    <title>Create</title>
</head>
<body>
    <div id="body">
        <h1>Create Recipe</h1>
        <h4>Name of the Recipe</h4>
        <input id = "name">
        
        <h4>Ingredients</h4>
        <input id = "ingredients">

        <h4>Instructions</h4>
        <textarea id = "instructions"></textarea>

        <button id = "btn" type = "button" >Submit</button>

        <div id="dropZone" style="border: 2px dashed #ccc; padding: 20px;">
            Drag and drop an image here
        </div>

        
    </div>
    <script src = "../static/create.js"></script>
</body>
</html>