<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <div id="login-menu">
      <div id="title-div">
        Yumly
        
      </div>

      <div id="login-info">
        <input type="username" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
      </div>

      <div id="buttons">
        <button id="login" onclick="goHome()">Login</button>
        <button id="register">Register</button>
      </div>

      <div id="info">

      </div>
        
    </div>
    <script src = "../static/index.js"></script>
</body>

</html>