<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/cookbook.css">
</head>
<body>
    <div id="page-container">
        <title>My CookBook</title>  
        

        <div id="cookbook-shelf">
            
            <div class="cookbook-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" class="food-img">
                <div class="food-desc">desc</div>
                <a href="url" class="link">link</a>
            </div>   
            
            <div class="cookbook-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" class="food-img">
                <div class="food-desc">desc</div>
                <a href="url" class="link">link</a>
            </div>

            <div class="cookbook-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" class="food-img">
                <div class="food-desc">desc</div>
                <a href="url" class="link">link</a>
            </div>

        </div>
    </div>

    <script src="../static/recipes.js"></script>
</body>
</html>