<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CookBook</title>
    <link rel="stylesheet" href="../static/styles/cookbook.css" />
  </head>
  <body>
    <div id="page-container">
      <navbar>
        <div>
          <h1 style="color: white;">Yumly</h1>
        </div>
        <div>
          <button id="library" type="button">
            <a href="{{ url_for('recipes') }}">Recipes</a>
          </button>
          <button id="library" type="button">
            <a href="{{ url_for('create') }}">Create Recipe</a>
          </button>
          <button id="logout" type="button">
            <a href="{{ url_for('logout') }}">Log Out</a>
          </button>
        </div>
      </navbar>
      <h1 id="main-title" style="color: white;">My CookBook</h1>
      <div id="cookbook-shelf">
        <p style="grid-column: 1 / -1; text-align: center; font-size: 18px;">Loading recipes...</p>
      </div>
    </div>
    <script src="../static/cookbook.js"></script>
  </body>
</html>