<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel = "stylesheet" href = "../static/styles/recipes.css">
</head>
<body>

    <div id="page-container">
        

        <div id="recipe-holder">
            <div id="recipe-template">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" id="food-img">
                <div id="food-desc">desc</div>
                <a href="url" id="link">link</a>
            </div>   
            
            <div id="recipe-template">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" id="food-img">
                <div id="food-desc">desc</div>
                <a href="url" id="link">link</a>
            </div>           

            <div id="recipe-template">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" id="food-img">
                <div id="food-desc">desc</div>
                <a href="url" id="link">link</a>
            </div>   
            
                        <div id="recipe-template">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" id="food-img">
                <div id="food-desc">desc</div>
                <a href="url" id="link">link</a>
            </div>   
            
            <div id="recipe-template">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" id="food-img">
                <div id="food-desc">desc</div>
                <a href="url" id="link">link</a>
            </div>           

            <div id="recipe-template">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" id="food-img">
                <div id="food-desc">desc</div>
                <a href="url" id="link">link</a>
            </div>  

                        <div id="recipe-template">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" id="food-img">
                <div id="food-desc">desc</div>
                <a href="url" id="link">link</a>
            </div>  
                        <div id="recipe-template">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGvR1LiWD8XMLY8pzD79L-loB_OYjn9733A&s" id="food-img">
                <div id="food-desc">desc</div>
                <a href="url" id="link">link</a>
            </div>  



    </div>

    <script src = "../static/recipes.js"></script>

</body>
</html>