<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel = "stylesheet" href = "../static/styles/recipes.css">
</head>
<body>
    <div id= "searchMenu">
        <h1>Search for recipe</h1>
        <input type="text" placeholder="vivek">
        <label for="filters">Filter by:</label>

        <select name="options" id="op">
            <option value="ingredient">ingredients</option><!--search_recipes_by_ingredients-->
            <option value="nutrient">nutrients</option><!--search_recipes_by_nutrients-->
            <option value="plan">meal plan</option><!--get_meal_plan_week-->
            <option value="suprise">suprise me</option><!--get_random_recipes-->
            <option value="wine">wine</option><!--get_wine_recommendation-->
        </select>
    </div>
</body>
</html>