body{
    background-color: rgb(189, 154, 213);
}

#searchMenu{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

#op{
    cursor: pointer;
}