body{
    background-color: rgb(202, 197, 210);
}

#searchMenu{
    width: 90%;
    height: 5%;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#txt{
    border-radius: 20px;
    border: 2px solid rgb(159, 144, 166);
    flex-basis: 70%;
    height: 80%;
}

#op{
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid rgb(159, 144, 166);
    height: 80%;
}

#btn{
    background-image: url("../search.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    width: 3.5%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid rgb(159, 144, 166);
}