body{
    background-color: rgb(202, 197, 210);
    background-image:url("../background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#login-menu{
    position: absolute;
    left: 35%;
    top: 20%;
    width: 30%;
    height: 60%;
    background-color: rgb(229, 234, 234);
    border-radius: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

#title-div{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 80%;
    font-size: 80px;
    text-align: center;
    color: black;
    font-family: Snell Roundhand;
}


#login-info{
    height: 100%;
    width: 100%;
    display: grid;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#username{
    margin: auto;
    width: 80%;
    height: 60%;
    border-radius: 5px;
    border: 2px solid rgb(159, 144, 166);
    background-color: rgb(235, 239, 239);
}

#password{
    margin: auto;
    width: 80%;
    height: 60%;
    border-radius: 5px;
    border: 2px solid rgb(159, 144, 166);
    background-color: rgb(235, 239, 239);
}

#buttons{
    padding-top: 15px;
    height: 100%;
    width: 100%;
    display: grid;
    padding-left: 5px;
    padding-right: 5px;
}

#login{
    margin: auto;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    color: rgb(228, 228, 228);
    background-color: #ab8cd8;
    border: 2px solid rgb(115, 105, 120);
    cursor: pointer;
    font-weight: bold;
}

#register{
    margin: auto;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    color: rgb(228, 228, 228);
    background-color: #ab8cd8;
    border: 2px solid rgb(115, 105, 120);
    cursor: pointer;
    font-weight: bold;

}

#register:hover{
    background-color: #9070b1;
}

#login:hover{
    background-color: #9070b1;
}

#login:active{
    background-color: #b8a4e5;
}

#register:active{
    background-color: #b8a4e5;
}


#info{

}