body{
    background-color: rgb(202, 197, 210);
}

#login-menu{
    position: absolute;
    left: 35%;
    top: 20%;
    width: 30%;
    height: 60%;
    background-color: rgb(229, 234, 234);
    border-radius: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

#title-div{
    padding-top: 10px;
    height: 100%;
    font-size: 50px;
    text-align: center;
    color: black;
}


#login-info{
    height: 100%;
    width: 100%;
    display: grid;
    padding-top: 10px;
}

#username{
    margin-left: 10%;
    width: 80%;
    height: 50%;
    border-radius: 5px;
    border: 2px solid rgb(159, 144, 166);
}

#password{
    margin-left: 10%;
    width: 80%;
    height: 50%;
    border-radius: 5px;
    border: 2px solid rgb(159, 144, 166);

}

#buttons{
    background-color: black;
    height: 100%;
    width: 100%;
}

#info{
    background-color: brown;
}